<html>
  <head>
    <style>
      body {
        background-color: <%= background %>;
      }
    </style>
  </head>
    <body>
    <h1>
      <%= message %>
    </h1>
    <p>
      The SECRET NUMBER is <%= secret_number %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
